{% load static %}
<div class="modal-body">
    <div class="modal-table-container">
        <table class="table table-bordered table-striped" id="programs-table">
            <thead class="sticky-header-1e3">
                <tr>
                    <th>Program Code</th>
                    <th>Program Name</th>
                    <th>Status</th>
                </tr>
                <tr id="program-filter-row">
                    <th><input type="text" class="programs-filter-input" data-field="program_code" placeholder="Filter Program Code"></th>
                    <th><input type="text" class="programs-filter-input" data-field="program_name" placeholder="Filter Program Name"></th>
                    <th><input type="text" class="programs-filter-input" data-field="status" placeholder="Filter Status"></th>
                </tr>
            </thead>
            <tbody id="programs-table-body">
                <!-- Data will be loaded here by AJAX -->
            </tbody>
        </table>
    </div>
    <ul id="programs-pagination" class="pagination" style="margin-top: 15px;"></ul>
</div>
