{% extends "core/base_admin.html" %}
{% load static %}
{% block content %}
    <div class="pages-main">
        <div class="view-page">
            <h1 class="pages-main-head">{{room.block}} - {{room.room_id}}</h1>
            <p style="color:red;"><strong>Note:</strong> This page displays the details of the selected student.</p>
            <h2>Student Details</h2>
            <div class="view-actions">

                <table class="details-table">
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>Room ID</td><td>{{room.room_id}}</room></td></tr>
                        <tr><td>Block</td><td>{{ room.block }}</td></tr>
                        <tr><td>Capacity</td><td>{{ room.capacity }}</td></tr>
                        <tr><td>Rows</td><td>{{ room.rows }}</td></tr>
                        <tr><td>Column</td><td>{{ room.columns }}</td></tr>
                    </tbody>
                </table>
            </div>
            <a href="{% url 'admin-rooms' %}" class="action-link student-action-link">Back</a>
        </div>
    </div>
{% endblock %}
