{% extends "core/base_admin.html" %}
{% load static %}
{% block content %}
    <div class="edit-form">
        <h2>Edit Room ({{ room.room_id }})</h2>
        <form method="post">
            {% csrf_token %}
            <p>Block: <input type="text" name="block" value="{{ room.block }}" /></p>
            <p>Capacity: <input type="number" name="capacity" value="{{ room.capacity }}" /></p>
            <p>Rows: <input type="number" name="rowscount" value="{{ room.rows }}" /></p>
            <p>Columns: <input type="number" name="columnscount" value="{{ room.columns }}" /></p>
            <button type="submit">Save</button>
        </form>
        <a href="{% url 'admin-rooms' %}" class="action-link">Back to Room List</a>
    </div>
{% endblock %}
