{% extends "core/base_admin.html" %}
{% load static %}
{% block content %}
    <div class="edit-form">
        <h2>Edit Student ({{ student.id }}-{{ user.first_name }} {{user.last_name}})</h2>
        <form method="post">
            {% csrf_token %}
            <p>First Name: <input type="text" name="first_name" value="{{ user.first_name }}" /></p>
            <p>Last Name: <input type="text" name="last_name" value="{{ user.last_name }}" /></p>
            <p>Department ID: <input type="text" name="department" value="{{ student.department_id }}" /></p>
            <p>Year: <input type="number" name="year" value="{{ student.year }}" /></p>
            <p>Semester: <input type="number" name="semester" value="{{ student.semester }}" /></p>
            <p>Phone: <input type="text" name="phone" value="{{ student.phone }}" /></p>
            <p>Email: <input type="email" name="email" value="{{ user.email }}" /></p>
            <button type="submit">Save</button>
        </form>
        <a href="{% url 'admin-students' %}" class="action-link">Back to Student List</a>
    </div>
{% endblock %}
