{% extends "core/base_admin.html" %}
{% load static %}
{% block content %}
    <div class="delete-form">
        <h2>Delete Student ({{ student.reg_no }}-{{ student.user.first_name }} {{ student.user.last_name }})</h2>
        <p>Are you sure you want to delete?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Confirm Delete</button>
        </form>
        <a href="{% url 'admin-students' %}" class="action-link">Back to Student List</a>
    </div>
{% endblock %}
